header {
    text-align: right;
    padding-right: 18px;
    max-width: 100%;
    background-image: url(/P1%2520-%2520Portfolio/Portfolio%20Project/images/boat.jpg);
}
.name{
    margin: 5px 0 -10px 0;
}
