body {
    font-family: 'Palanquin', sans-serif;
    max-width: 100%;
}

header {
    text-align: center;
    max-width: 100%;
    height: 195px;
    background-image: url(https://raw.githubusercontent.com/eyal352/eyal352.github.io/master/images/bridge-narrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    opacity: .8;
}

.navbar-right {
    display: flex;
}

.title {
    margin: 0px;
    color: royalblue;
    margin-top: -20px;
    text-align: left;
    z-index: -0;
    position: absolute;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
    max-width: 100%;
}

h4 {
    font-size: 32px;
}

.discription {
    color: dodgerblue;
    margin-top: -7px;
}

#introduction {
    font-size: 20px;
}

.container-fluid {
    text-align: center;
}

.featured-work-col {
    margin-bottom: 35px;
}

.btn {
    box-shadow: 1px 1px 3px;
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    body {
        max-width: 767px;
        margin: 0 auto;
    }
}

@media screen and (max-width:736px) {
    header {
        height: 315px;
        background-position: left;
    }
}